<template>
  <v-dialog v-model="dialog" max-width="600px">
    <template v-slot:activator="{ attrs, on }">
      <v-btn
        color="primary"
        elevation="6"
        fab
        fixed
        bottom
        right
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5">Add Expense</span>
      </v-card-title>
      <v-card-text class="pb-0 mb-0">
        <v-container>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  v-model="selectedAmount"
                  label="Amount"
                  :rules="emptyRules"
                  type="number"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  v-model="selectedCurrency"
                  :items="['INR']"
                  label="Currency"
                  :rules="emptyRules"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  v-model="selectedCategory"
                  :items="this.$store.getters.getCategories"
                  label="Category"
                  :rules="emptyRules"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-menu max-width="290">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="selectedDate"
                      label="Date"
                      prepend-icon="mdi-calendar-range"
                      v-on="on"
                      :rules="emptyRules"
                      required
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="selectedDate"
                    :max="new Date().toISOString().split('T')[0]"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12" class="my-auto">
                <v-text-field
                  v-model="selectedDescription"
                  label="Description (optional)"
                  type="text"
                  :rules="descriptionRules"
                  counter
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions class="pt-0 mt-0">
        <v-spacer></v-spacer>
        <v-btn color="accent" text @click="dialog = false"> Close </v-btn>
        <v-btn
          :disabled="!valid && loading"
          :loading="loading"
          color="accent"
          text
          @click="editExpense"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "EditItem",
  data: function () {
    return {
      dialog: false,
      valid: false,
      loading: false,
      selectedAmount: null,
      emptyRules: [(v) => !!v || "This field is required"],
      descriptionRules: [
        (v) =>
          (v && v.length <= 140) ||
          "Description must be less than 140 characters",
      ],
      selectedCategory: null,
      selectedCurrency: "INR",
      selectedDate: null,
      selectedDescription: null,
    };
  },
  methods: {
    async editExpense() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        this.valid = false;
        const response = await this.$store
          .dispatch("addExpense", {
            datetime: this.selectedDate,
            currency: this.selectedCurrency,
            amount: parseFloat(this.selectedAmount),
            category: this.$store.getters.getCategories.indexOf(
              this.selectedCategory
            ),
            description: this.selectedDescription,
          })
          .catch((error) => {
            this.loading = false;
            this.valid = true;
            console.log(error);
          });
        if (response !== undefined && response.status == 200) {
          this.loading = false;
          this.valid = true;
          this.dialog = false;
          this.$router.go();
        }
      }
    },
  },
};
</script>
