<template>
  <v-card :loading="loading" max-width="400">
    <template slot="progress">
      <v-progress-linear
        color="accent"
        height="7"
        indeterminate
      ></v-progress-linear>
    </template>
    <v-card-title>{{ `${amount} ${currency}` }}</v-card-title>
    <v-card-subtitle>
      {{ `${datetime} ${this.$store.getters.getCategories[category]}` }}
    </v-card-subtitle>
    <v-card-text>
      <div>{{ description }}</div>
    </v-card-text>

    <v-row v-if="!this.$store.getters.getIsAdmin" class="mx-auto mb-1">
      <v-card-actions>
        <EditItem
          :id="id"
          :amount="amount"
          :category="category"
          :currency="currency"
          :datetime="datetime"
          :description="description"
        />
      </v-card-actions>

      <v-card-actions>
        <v-btn color="accent" text @click="deleteItem"> Delete </v-btn>
      </v-card-actions>
    </v-row>
  </v-card>
</template>

<script>
import EditItem from "../components/EditItem.vue";
export default {
  components: { EditItem },
  name: "ExpenseItem",
  props: {
    id: { type: String, required: true },
    amount: { type: Number, required: true },
    category: { type: Number, required: true },
    currency: { type: String, required: true },
    datetime: { type: String, required: true },
    description: { type: String },
  },
  data: function () {
    return {
      loading: false,
    };
  },
  methods: {
    async deleteItem() {
      this.loading = true;
      const response = await this.$store
        .dispatch("deleteExpense", { id: this.id, amount: this.amount })
        .catch((error) => {
          this.loading = false;
          console.log(error);
        });
      if (response !== undefined && response.status == 200) {
        this.loading = false;
        this.$router.go();
      }
    },
  },
  mounted() {},
};
</script>
