<template>
  <v-dialog v-model="dialog" max-width="600px">
    <template v-slot:activator="{ attrs, on }">
      <v-btn color="accent" text v-bind="attrs" v-on="on"> Expenses </v-btn>
    </template>
    <v-card>
      <v-container fluid fill-height>
        <v-layout class="d-flex flex-column align-center">
          <v-progress-circular
            v-if="loading"
            :size="50"
            color="primary"
            indeterminate
          ></v-progress-circular>
          <v-layout v-if="!loading" class="d-flex flex-column align-center">
            <p class="text-h6">{{ `Expenses of ${name}` }}</p>
            <v-select
              v-model="currentCategory"
              :items="this.$store.getters.getCategories"
              label="Category"
              clearable
            ></v-select>
          </v-layout>
          <skeleton :nos="3" v-if="loading"> </skeleton>
          <v-list-item
            v-for="expense in filterL(
              this.$store.getters.getCategories.indexOf(currentCategory)
            )"
            :key="expense.key"
          >
            <v-list-item-content class="py-auto">
              <ExpenseItem
                :id="expense.key"
                :amount="expense.amount"
                :category="expense.category"
                :currency="expense.currency"
                :datetime="expense.datetime"
                :description="expense.description"
              />
            </v-list-item-content>
          </v-list-item>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import ExpenseItem from "../components/ExpenseItem.vue";
import Skeleton from "../components/Skeleton.vue";
export default {
  name: "EditItem",
  components: { ExpenseItem, Skeleton },
  props: {
    email: { type: String, required: true },
    name: { type: String, required: true },
  },
  data: function () {
    return {
      dialog: false,
      loading: true,
      expenses: [],
      currentCategory: "",
    };
  },
  methods: {
    filterL: function (category) {
      if (category == -1) return this.expenses;
      return this.expenses.filter(function (expense) {
        return expense.category == category;
      });
    },
  },
  watch: {
    // whenever question changes, this function will run
    dialog: async function () {
      if (this.dialog) {
        const response = await this.$store
          .dispatch("getUserExpenses", this.email)
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
        if (response !== undefined) {
          console.log(response.data.expenses);
          this.expenses = response.data.expenses;
          this.loading = false;
        }
      }
    },
  },
};
</script>
