<template>
  <nav>
    <v-app-bar app class="primary">
      <v-app-bar-nav-icon
        @click="drawer = !drawer"
        color="accent"
      ></v-app-bar-nav-icon>
      <v-toolbar-title>
        <span class="font-weight-bold">Expense Manager</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div>
        <v-tooltip v-if="!$vuetify.theme.dark" bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              color="primary"
              small
              fab
              @click="darkMode"
              elevation="0"
            >
              <v-icon class="mr-1">mdi-moon-waxing-crescent</v-icon>
            </v-btn>
          </template>
          <span>Switch to dark mode</span>
        </v-tooltip>

        <v-tooltip v-else bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              color="primary"
              small
              fab
              @click="darkMode"
              elevation="0"
            >
              <v-icon color="yellow">mdi-white-balance-sunny</v-icon>
            </v-btn>
          </template>
          <span>Switch to light mode</span>
        </v-tooltip>
      </div>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon color="accent" @click="logout" v-bind="attrs" v-on="on">
            <v-icon>exit_to_app</v-icon>
          </v-btn>
        </template>
        <span>Sign Out</span>
      </v-tooltip>
    </v-app-bar>
    <v-navigation-drawer app fixed v-model="drawer" class="primary">
      <v-container fill-height fluid>
        <v-row align="center" justify="center">
          <v-col>
            <v-layout justify-center>
              <v-avatar color="accent" class="center my-3" size="70">
                <span class="white--text headline">{{
                  this.$store.getters.getUserName.match(/\b(\w)/g).join("")
                }}</span>
              </v-avatar>
            </v-layout>
            <p class="subtitle-1 my-auto" style="text-align: center">
              {{ `Welcome, ${this.$store.getters.getUserName}` }}
            </p>
            <v-list nav dense rounded>
              <v-list-item-group color="accent">
                <v-list-item
                  v-for="(link, i) in this.$store.getters.getIsAdmin
                    ? adminLinks
                    : links"
                  :key="i"
                  router
                  :to="link.route"
                >
                  <v-list-item-icon>
                    <v-icon>{{ link.icon }}</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title v-text="link.text"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-col>
        </v-row>
      </v-container>
    </v-navigation-drawer>
  </nav>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
    links: [
      { icon: "dashboard", text: "Dashboard", route: "/" },
      { icon: "monetization_on", text: "Expenses", route: "/expenses" },
      { icon: "pie_chart", text: "Reports", route: "/reports" },
    ],
    adminLinks: [
      { icon: "admin_panel_settings", text: "AdminPage", route: "/admin" },
    ],
    themeSwitch: true,
  }),
  methods: {
    async logout() {
      this.$store.dispatch("logoutUser");
      // TODO delete all expenses items and reports
      this.$router.push({ name: "SignIn" });
    },
    darkMode() {
      this.$store.dispatch("toggleDarkMode", !this.$vuetify.theme.dark);
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    },
  },
  async mounted() {
    this.$vuetify.theme.dark = this.$store.getters.getIsDark;
  },
};
</script>
