<template>
  <v-container fluid>
    <v-list-item v-for="i in nos" :key="i">
      <v-row>
        <v-col>
          <v-skeleton-loader
            max-width="400"
            v-bind="attrs"
            type="article"
          ></v-skeleton-loader
        ></v-col>
      </v-row>
    </v-list-item>
  </v-container>
</template>

<script>
export default {
  name: "Skeleton",
  props: {
    nos: {
      type: Number,
      required: true,
    },
  },
  data: function () {
    return {
      attrs: {
        class: "mb-2 mx-auto",
        boilerplate: true,
        elevation: 2,
      },
    };
  },
};
</script>
