<template>
  <v-card flat class="text-xs-center ma-3">
    <v-layout justify-center class="pt-4">
      <v-avatar color="accent" class="center my-3" size="70">
        <span class="white--text headline">{{
          user.name.match(/\b(\w)/g).join("")
        }}</span>
      </v-avatar>
    </v-layout>
    <v-card-text>
      <div class="text-h6">{{ user.name }}</div>
      <div class="grey--text">
        {{ `Admin privileges: ${user.isAdmin}` }}
      </div>
      <div class="grey--text">
        {{ `Total Expenses: ${user.total}` }}
      </div>
    </v-card-text>
    <v-card-actions>
      <ExpensesModal :email="user.email" :name="user.name" />
    </v-card-actions>
  </v-card>
</template>

<script>
import ExpensesModal from "./ExpensesModal.vue";
export default {
  name: "UserCard",
  components: { ExpensesModal },
  props: {
    user: { type: Object, required: true },
  },
  data: function () {
    return {};
  },
  methods: {},
};
</script>
