<template>
  <v-app class="grey lighten-4">
    <v-main class="base">
      <Navbar v-if="this.$store.getters.getLoggedInStatus" />
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
export default {
  name: "App",
  data: () => ({}),
  components: {
    Navbar,
  },
};
</script>
