<template>
  <v-container fluid fill-height>
    <v-layout row wrap>
      <v-flex xs12 sm6 md4 lg3 v-for="user in users" :key="user.name">
        <UserCard :user="user" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import UserCard from "../components/UserCard.vue";
export default {
  name: "AdminPage",
  components: { UserCard },
  data: function () {
    return {
      loading: true,
      users: [],
    };
  },
  methods: {},
  async mounted() {
    const response = await this.$store
      .dispatch("getAllUsers")
      .catch((error) => {
        console.log(error);
        this.loading = false;
      });
    if (response !== undefined) {
      console.log(response.data);
      this.users = response.data.users;
      this.loading = false;
    }
  },
};
</script>
