<template>
  <v-container fluid fill-height>
    <v-layout class="d-flex flex-column align-center">
      <v-progress-circular
        v-if="loading"
        :size="50"
        color="primary"
        indeterminate
      ></v-progress-circular>
      <v-layout v-if="!loading" class="d-flex flex-column align-center">
        <p class="text-h5">Dashboard</p>
        <p class="text-h4">
          Total Expense: {{ this.$store.getters.getUserTotal }}
        </p>
      </v-layout>
      <skeleton :nos="3" v-if="loading"> </skeleton>
      <v-list-item v-for="expense in expenses" :key="expense.key">
        <v-list-item-content class="py-auto">
          <ExpenseItem
            :id="expense.key"
            :amount="expense.amount"
            :category="expense.category"
            :currency="expense.currency"
            :datetime="expense.datetime"
            :description="expense.description"
          />
        </v-list-item-content>
      </v-list-item>
    </v-layout>
  </v-container>
</template>

<script>
import ExpenseItem from "../components/ExpenseItem.vue";
import Skeleton from "../components/Skeleton.vue";
export default {
  name: "Dashboard",
  components: { ExpenseItem, Skeleton },
  data: function () {
    return {
      editModal: false,
      loading: true,
      expenses: [],
    };
  },
  async mounted() {
    const response = await this.$store
      .dispatch("getLast5Expenses")
      .catch((error) => {
        console.log(error);
        this.loading = false;
      });
    if (response !== undefined) {
      this.$store.dispatch("updateTotal", response.data.total);
      this.expenses = response.data.expenses;
      this.loading = false;
    }
  },
};
</script>
