<template>
  <v-container fluid fill-height>
    <v-layout class="d-flex flex-column align-center">
      <v-progress-circular
        v-if="loading"
        :size="50"
        color="primary"
        indeterminate
      ></v-progress-circular>
      <v-layout v-if="!loading" class="d-flex flex-column align-center">
        <p class="text-h5">All expenses</p>
        <v-select
          v-model="currentCategory"
          :items="this.$store.getters.getCategories"
          label="Category"
          clearable
        ></v-select>
        <AddItem />
      </v-layout>
      <skeleton :nos="3" v-if="loading"> </skeleton>
      <v-list-item
        v-for="expense in filterL(
          this.$store.getters.getCategories.indexOf(currentCategory)
        )"
        :key="expense.key"
      >
        <v-list-item-content class="py-auto">
          <ExpenseItem
            :id="expense.key"
            :amount="expense.amount"
            :category="expense.category"
            :currency="expense.currency"
            :datetime="expense.datetime"
            :description="expense.description"
          />
        </v-list-item-content>
      </v-list-item>
    </v-layout>
  </v-container>
</template>

<script>
import ExpenseItem from "../components/ExpenseItem.vue";
import Skeleton from "../components/Skeleton.vue";
import AddItem from "../components/AddItem.vue";
export default {
  name: "Expenses",
  components: { ExpenseItem, Skeleton, AddItem },
  data: function () {
    return {
      loading: true,
      expenses: [],
      currentCategory: "",
    };
  },
  methods: {
    filterL: function (category) {
      if (category == -1) return this.expenses;
      return this.expenses.filter(function (expense) {
        return expense.category == category;
      });
    },
  },
  async mounted() {
    const response = await this.$store
      .dispatch("getAllExpenses")
      .catch((error) => {
        console.log(error);
        this.loading = false;
      });
    if (response !== undefined) {
      this.expenses = response.data.expenses;
      this.loading = false;
    }
  },
};
</script>
