<template>
  <v-container fluid fill-height>
    <v-row>
      <v-col cols="12" sm="6">
        <p v-if="!loading" class="text-h5">Weekly expenses this month</p>
        <v-progress-circular
          v-if="loading"
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
        <line-chart
          v-if="!loading"
          :chartdata="{
            labels: this.weekLabels,
            datasets: [
              {
                label: 'Weekly Expenses',
                borderColor: '#8fbcbb',
                data: this.weeklyData,
                fill: false,
                tension: 0,
              },
            ],
          }"
        ></line-chart>
      </v-col>
      <v-col cols="12" sm="6">
        <p v-if="!loading" class="text-h5">Category expenses this month</p>
        <v-progress-circular
          v-if="loading"
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
        <doughnut-chart
          v-if="!loading"
          :chartdata="{
            labels: this.$store.getters.getCategories,
            datasets: [
              {
                label: 'Category Expenses',
                backgroundColor: [
                  'rgb(191, 97, 106)',
                  'rgb(208, 135, 112)',
                  'rgb(235, 203, 139)',
                  'rgb(163, 190, 140)',
                  'rgb(180, 142, 173)',
                ],
                data: this.categoryData,
                hoverOffset: 4,
              },
            ],
          }"
        ></doughnut-chart>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import LineChart from "../components/LineChart.vue";
import DoughnutChart from "../components/DoughnutChart.vue";
export default {
  name: "Reports",
  components: { LineChart, DoughnutChart },
  data: function () {
    return {
      loading: true,
      weekLabels: ["Week 1", "Week 2", "Week 3", "Week 4"],
      weeklyData: null,
      categoryData: null,
    };
  },
  async mounted() {
    const response = await this.$store.dispatch("getReports").catch((error) => {
      console.log(error);
      this.loading = false;
    });
    if (response !== undefined && response.status == 200) {
      this.weeklyData = response.data.weekLine;
      this.categoryData = response.data.catPie;
      this.loading = false;
    }
  },
};
</script>
