<template>
  <v-container fluid fill-height>
    <v-layout class="align-center justify-center">
      <v-card class="mx-auto pa-6 d-flex flex-column" width="500" outlined>
        <h1 class="display-1">Sign In</h1>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="email"
            label="E-mail"
            :rules="emailRules"
            required
          ></v-text-field>
          <v-text-field
            v-model="password"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show ? 'text' : 'password'"
            @click:append="show = !show"
            label="Password"
            :rules="passwordRules"
            required
          ></v-text-field>
          <v-btn
            :disabled="!valid && loading"
            color="accent"
            class="mr-4"
            @click="submit"
            :loading="loading"
          >
            Submit
          </v-btn>
        </v-form>
        <router-link :to="'/signup'" class="mt-4">
          Don't have an account? Sign Up
        </router-link>
      </v-card>
      <v-snackbar v-model="snackbar" :timeout="timeout" width="500">
        {{ text }}

        <template v-slot:action="{ attrs }">
          <v-btn color="accent" text v-bind="attrs" @click="snackbar = false">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import ApiService from "../ApiService";
export default {
  name: "SignIn",
  data: () => ({
    valid: true,
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    show: false,
    password: "",
    passwordRules: [(v) => !!v || "Password is required"],
    loading: false,
    snackbar: false,
    text: "",
    timeout: 4000,
  }),
  components: {},
  methods: {
    async submit() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        this.valid = false;
        const response = await ApiService.login({
          email: this.email,
          password: this.password,
        }).catch((error) => {
          this.loading = false;
          this.valid = true;
          this.text = error.response.data.message;
          this.snackbar = true;
        });
        if (response !== undefined && response.status == 200) {
          // Do login stuff
          this.$store.dispatch("setUserInfo", {
            name: response.data.name,
            email: response.data.email,
            token: response.data.token,
            isAdmin: response.data.isAdmin,
          });
          this.loading = false;
          this.valid = true;
          if (!response.data.isAdmin) this.$router.push({ name: "Dashboard" });
          else this.$router.push({ name: "AdminPage" });
        }
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
  },
  computed: {
    passwordConfirmationRule() {
      return () => this.password1 === this.password2 || "Password must match";
    },
  },
};
</script>
