<template>
  <v-container fluid fill-height>
    <v-layout class="align-center justify-center">
      <v-card class="mx-auto pa-6 d-flex flex-column" width="500" outlined>
        <h1 class="display-1">Sign Up</h1>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="name"
            :rules="nameRules"
            :counter="30"
            label="Name"
            required
          ></v-text-field>
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required
          ></v-text-field>
          <v-text-field
            v-model="password1"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show1 ? 'text' : 'password'"
            @click:append="show1 = !show1"
            :rules="[passwordRules.required, passwordRules.min]"
            counter
            label="Password"
            required
          ></v-text-field>
          <v-text-field
            v-model="password2"
            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show2 ? 'text' : 'password'"
            @click:append="show2 = !show2"
            :rules="[
              passwordRules.required,
              passwordRules.min,
              passwordConfirmationRule,
            ]"
            counter
            label="Re-enter password"
            required
          ></v-text-field>
          <v-btn
            :disabled="!valid && loading"
            color="accent"
            class="mr-4"
            @click="submit"
            :loading="loading"
          >
            Submit
          </v-btn>
        </v-form>
        <router-link :to="'/signin'" class="mt-4">
          Already have an account? Sign In
        </router-link>
      </v-card>
      <v-snackbar v-model="snackbar" :timeout="timeout" width="500">
        {{ text }}

        <template v-slot:action="{ attrs }">
          <v-btn color="accent" text v-bind="attrs" @click="snackbar = false">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import ApiService from "../ApiService";
export default {
  name: "SignUp",
  data: () => ({
    valid: true,
    name: "",
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 30) || "Name must be less than 30 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    show1: false,
    password1: "",
    show2: false,
    password2: "",
    passwordRules: {
      required: (v) => !!v || "Password is required",
      min: (v) => v.length >= 8 || "Min 8 characters",
    },
    loading: false,
    snackbar: false,
    text: "",
    timeout: 4000,
  }),
  components: {},
  methods: {
    async submit() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        this.valid = false;
        const response = await ApiService.signup({
          name: this.name,
          email: this.email,
          password: this.password1,
        }).catch((error) => {
          this.loading = false;
          this.valid = true;
          if (error.response !== undefined && error.response.status == 409) {
            this.text =
              error.response.data.message + " (automatically redirecting...)";
            this.snackbar = true;
            setTimeout(() => {
              this.$router.push({ name: "SignIn" });
            }, this.timeout);
          } else {
            this.text = error.response.data.message;
            this.snackbar = true;
          }
        });
        if (response !== undefined && response.status == 200) {
          this.loading = false;
          this.valid = true;
          this.$router.push({ name: "SignIn" });
        }
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
  },
  computed: {
    passwordConfirmationRule() {
      return () => this.password1 === this.password2 || "Password must match";
    },
  },
};
</script>
